<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asuni.assignment">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission android:name="com.eulerslab.ikshanaa.permission.MAPS_RECEIVE" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/location"
        android:label="@string/app_name"
        android:roundIcon="@drawable/location"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.CSVViewer">



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_kay" />


        <activity
            android:name="com.asuni.assignment.views.Home"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.asuni.assignment.views.MapsActivity" />

    </application>

</manifest>
